apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1 # Sh7al mn copie baghi (1 kafya l test)
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          # Hna Jenkins ghadi y-remplacer had 'IMAGE_PLACEHOLDER' b smiya d l-image s7i7a
          image: IMAGE_PLACEHOLDER
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort # Mohim bach t-a3ccedi lih mn Windows bla Ingress
  selector:
    app: frontend
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30001 # Fixina l-port 30001 bach t-3rf fin dkhol
